<app-navbar></app-navbar>
<div class="dashboard">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <div class="card tenants-card" routerLink="/tenants">
    <i class="bi bi-people-fill" style="font-size: 2rem;"></i>
      <h3>Arrendatarios</h3>
      <p>Administra tus arrendatarios</p>
    </div>
    <div class="card apartments-card" routerLink="/apartments">
        <i class="bi bi-building" style="font-size: 2rem;"></i>
      <h3>Apartamentos</h3>
      <p>Administra tus Apartamentos</p>
    </div>
    <div class="card contracts-card" routerLink="/contracts">
        <i class="bi bi-file-earmark-text" style="font-size: 2rem;"></i>
      <h3>Contratos</h3>
      <p>Administra tus contratos</p>
    </div>
    <div class="card tickets-card" routerLink="tickets">
        <i class="bi bi-ticket-perforated" style="font-size: 2rem;"></i>
      <h3>Tickets</h3>
      <p>Administra tus tickets</p>
    </div>
  </div>
