<app-navbar></app-navbar>
<div class="dashboard">
    <!-- Mensaje de bienvenida con icono de casa -->
    <div class="welcome-message">
        <h2>
            <i class="bi bi-house" style="font-size: 2rem; color: #0d395e;"></i> 
            Bienvenido a RentMaster
        </h2>
        <p>Como administrador usted podra gestionar sus apartamentos, arrendatarios, contratos y tickets desde un solo lugar.</p>
    </div>
    <!-- Primera fila de tarjetas (Arrendatarios y Apartamentos) -->
    <div class="card-row">
        <div class="card apartments-card" routerLink="/apartments">
            <i class="bi bi-building" style="font-size: 2rem;"></i>
            <h3>Apartamentos</h3>
            <p>Administra tus Apartamentos</p>
            <p><strong>Total: {{ apartmentsCount }}</strong></p>
        </div>
        <div class="card tenants-card" routerLink="/tenants">
          <i class="bi bi-people-fill" style="font-size: 2rem;"></i>
          <h3>Arrendatarios</h3>
          <p>Administra tus arrendatarios</p>
          <p><strong>Total: {{ tenantsCount }}</strong></p>
      </div>
    </div>

    <!-- Segunda fila de tarjetas (Contratos y Tickets) -->
    <div class="card-row">
        <div class="card contracts-card" routerLink="/contracts">
            <i class="bi bi-file-earmark-text" style="font-size: 2rem;"></i>
            <h3>Contratos</h3>
            <p>Administra tus contratos</p>
            <p><strong>Total: {{ contractsCount }}</strong></p>
        </div>
        <div class="card tickets-card" routerLink="/tickets">
            <i class="bi bi-ticket-perforated" style="font-size: 2rem;"></i>
            <h3>Tickets</h3>
            <p>Administra tus tickets</p>
        </div>
    </div>
    
    <p><strong>RENTMASTER</strong></p>
</div>
