<!-- src/app/components/navbar/navbar.component.html -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg bg-dark-blue">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">
        <i class="bi bi-house" style="font-size: 2rem; color: #ffffff;"></i> RentMaster</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ms-auto align-items-center">
            <!-- Autocompletar solo visible en la página de arrendatarios -->
            <li class="nav-item me-3" >
                <p-autoComplete
                    [(ngModel)]="selectedTenant"
                    [suggestions]="filteredTenants"
                    (completeMethod)="filterTenant($event)"
                    field="name"
                    placeholder="Buscar Arrendatario"
                    (onSelect)="onTenantSelect($event)"
                    [dropdown]="true"
                    [style.width.px]="300"> <!-- Usar vinculación de propiedades -->
                </p-autoComplete>
            </li>
            <!-- Botón de cierre de sesión -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">
                    <i class="fa fa-sign-out" style="font-size:24px;color:rgb(255, 255, 255)"></i>
                </a>
            </li>
        </ul>
    </div>
  </div>
</nav>
