<app-navbar-tenant></app-navbar-tenant>

<div class="container">

    
    <div class="left-section">
        <div class="welcome-text">
            <img src="assets/img/ayuda.png" alt="Imagen de Ayuda" class="left-image">
            <h2>¡Bienvenido a la Gestión de Tickets!</h2>
            <p>Aquí puedes crear y gestionar todos tus tickets de manera sencilla y rápida. Los tickets te permiten reportar cualquier problema o solicitud relacionada con tu apartamento, como reparaciones, mantenimiento o cualquier otra necesidad. A través de esta herramienta, podrás:</p>
            <ul>
                <li>Crear nuevos tickets para reportar incidencias o solicitudes de soporte.</li>
                <li>Ver el estado de tus tickets en tiempo real, desde la creación hasta la resolución.</li>
                <li>Actualizar y añadir comentarios a tus tickets para mantener un seguimiento de los avances.</li>
            </ul>
            <p>Tu satisfacción es nuestra prioridad. ¡Gestiona tus tickets fácilmente desde un solo lugar y mantén todo bajo control!</p>
        </div>
    </div>

  
    <div class="right-section">
        <div class="ticket-container">
            <h3>Tus Tickets</h3>
            <p class="ticket-info-text">Aquí puedes ver todos tus tickets actuales y gestionarlos.</p>

            <button type="button" class="btn-add-ticket" routerLink="/create-ticket">
                <i class="fa fa-ticket-alt"></i> Enviar Ticket
            </button>
            <a class="btn-reply" routerLink="/dashboard-tenant">
                <i class="fa fa-reply"></i>
            </a>
            
            <table class="ticket-table" *ngIf="tickets.length > 0; else noTickets">
                <thead>
                    <tr>
                        <th>Asunto</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets">
                        <td>{{ ticket.subject }}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{{ ticket.status }}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noTickets>
                <p class="no-tickets-message">No tienes tickets registrados en este momento.</p>
            </ng-template>
        </div>
    </div>

</div>
