<app-navbar></app-navbar>
<div class="container">
    
    <button class="btn-add-tenant" routerLink= "/signIn">
        <i class="fa fa-user-plus"></i>
        Agregar Arrendatario
    </button>

    <h2>ARRENDATARIOS</h2>
    <table class="tenant-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Número Telefónico</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tenant of tenants">
                <td>{{ tenant.name }}</td>
                <td>{{ tenant.email }}</td>
                <td>{{ tenant.phone_number }}</td>
                <td>
                   
                    <button class="btn btn-edit" (click)="editTenant(tenant)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    
                    <button class="btn btn-delete" (click)="deleteTenant(tenant)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>